In [1]:
import pandas as pd
import numpy as np

In [2]:
#Import all data for Financial Year 2017-18

In [3]:
Table0_17_18 = pd.read_csv(r"C:\Users\saura\Desktop\CSR\Data From National CSR Portal (Dec 2021)\All Data\Table 0 (FY 2017-18)\Table0_2017_18_final.csv")
Table7_17_18 = pd.read_csv(r"C:\Users\saura\Desktop\CSR\Data From National CSR Portal (Dec 2021)\All Data\Table 7 (FY 2017-18)\Table7_2017_18_9999999.csv")
Table8_17_18 = pd.read_csv(r"C:\Users\saura\Desktop\CSR\Data From National CSR Portal (Dec 2021)\All Data\Table 8 (FY 2017-18)\Table8_2017_18_final.csv")

In [4]:
print("Count in Zeroth table:","\n", Table0_17_18.count(),
      "Count in Ninth table:","\n",Table7_17_18.count(),
      "Count in tenth table:","\n",Table8_17_18.count())

Count in Zeroth table:
 Unnamed: 0        21517
CIN               21517
CNAME             21395
Class             21510
Company Type      21510
Listing Status    21510
RoC               21378
State             21378
Sub Category      21378
dtype: int64 Count in Ninth table:
 Unnamed: 0                     21517
CIN                            21517
Average Net Profit             21517
CSR Prescribed Expenditure     21517
CSR Spent                      21517
Local Area Spent               21517
financial_year                 21517
dtype: int64 Count in tenth table:
 S.No                      49311
financial_year            49311
CIN                       49311
csr_project               38575
development_Sector        49311
state_name                49311
district                  49267
project_amount_outlay     49311
amount_spent              49311
mode_of_implementation    40636
feedback                  49311
dtype: int64

In [5]:
Table0_17_18 = Table0_17_18[["CIN","CNAME","Class","Company Type","Listing Status","RoC","State","Sub Category"]]
Table7_17_18 = Table7_17_18[['CIN', 'Average Net Profit ','CSR Prescribed Expenditure ', 'CSR Spent ', 
                       'Local Area Spent ','financial_year']]
Table8_17_18 = Table8_17_18[['S.No', 'financial_year', 'CIN', 'csr_project', 'development_Sector','state_name', 'district', 
                   'project_amount_outlay', 'amount_spent','mode_of_implementation', 'feedback']]

In [6]:
from functools import reduce
Table_17_18 = reduce(lambda x,y: pd.merge(x,y, on='CIN', how='outer'), [Table0_17_18, Table7_17_18, Table8_17_18])

In [7]:
#------------------------------------------------------------------------------------------#
#Import additional tables:
#------------------------------------------------------------------------------------------#

In [8]:
#Standardizing all state names:
Standard_State_Names = pd.read_excel(r"C:\Users\saura\Desktop\CSR\State Level Data\State name matching for all tables.xlsx")
Standard_State_Names.head(2)

,State,1.Social Sector,2.Health-Infrastructure,3.Tendulkar Poverty Estimates,4. Number of Schools by School,5. Prevention of Corruption Act,6.Nominal GSDP Series,7.State-wise Total Population
0,Andaman and Nicobar Islands,NaN,Andaman & Nicobar Islands,A & N Islands,Andaman & Nicobar Islands,A & N Islands,Andaman and Nicobar Islands,Andaman and Nicobar Islands
1,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh

In [9]:
#1.Social Sector Expenditure: Here values are in Crores
SSE = pd.read_csv(r"C:\Users\saura\Desktop\CSR\State Level Data\CSVs for Python\1.Social Sector Expenditure.csv")
SSE = SSE[["State/Union Territory","2017-18"]]
SSE = SSE.rename(columns={"2017-18": "Social Sector Expenditure (by the State Governments) 2017-18"})
SSE = SSE.merge(Standard_State_Names, left_on='State/Union Territory', right_on='State', how='left')
SSE = SSE[["State","Social Sector Expenditure (by the State Governments) 2017-18"]]
SSE = SSE.dropna()
SSE.head(2)

,State,Social Sector Expenditure (by the State Governments) 2017-18
0,Andhra Pradesh,72856
1,Arunachal Pradesh,5476

In [10]:
#2.Health-Infrastructure:
HI = pd.read_csv(r"C:\Users\saura\Desktop\CSR\State Level Data\CSVs for Python\2.Health-Infrastructure.csv")
HI = HI[["State/Union Territory","Total (2017-18)"]]
HI = HI.rename(columns={"Total (2017-18)" : "Health Centres 2017-18"})
HI = HI.merge(Standard_State_Names, left_on='State/Union Territory', right_on='State', how='left')
HI = HI[["State","Health Centres 2017-18"]]
HI = HI.dropna()
HI.head(2)

               State  Health Centres 2017-18
0     Andhra Pradesh                    8806
1  Arunachal Pradesh                     536

In [11]:
#3.Tendulkar Poverty Estimates (Combined) : Number Below Poverty Line (Lakhs)
BPL = pd.read_csv(r"C:\Users\saura\Desktop\CSR\State Level Data\CSVs for Python\3.Tendulkar Poverty Estimates (Combined).csv")
BPL = BPL[["State/Union Territory","2011-12"]]
BPL = BPL.rename(columns = {"2011-12" : "Number Below Poverty Line(in Lakhs) 2011-12"})
BPL = BPL.merge(Standard_State_Names, left_on='State/Union Territory', right_on='State', how='left')
BPL = BPL[["State","Number Below Poverty Line(in Lakhs) 2011-12"]]
BPL = BPL.dropna()
BPL.head(2)

               State  Number Below Poverty Line(in Lakhs) 2011-12
0     Andhra Pradesh                                         78.8
1  Arunachal Pradesh                                          4.9

In [12]:
#4. Number of Schools by School Management and School Category :
SCHO = pd.read_csv(r"C:\Users\saura\Desktop\CSR\State Level Data\CSVs for Python\4. Number of Schools by School Management and School Category.csv")
SCHO = SCHO[["State/Union Territory","2017-18"]]
SCHO = SCHO.rename(columns={"2017-18":"Total Number of Schools 2017-18"})
SCHO = SCHO.merge(Standard_State_Names, left_on='State/Union Territory', right_on='State', how='left')
SCHO = SCHO[["State","Total Number of Schools 2017-18"]]
SCHO = SCHO.dropna()
SCHO.head(2)

               State  Total Number of Schools 2017-18
1     Andhra Pradesh                          63633.0
2  Arunachal Pradesh                           4061.0

In [13]:
#5. Prevention of Corruption Act & Related Sections of IPC Cases Reported
PCA = pd.read_csv(r"C:\Users\saura\Desktop\CSR\State Level Data\CSVs for Python\5. Prevention of Corruption Act & Related Sections of IPC Cases Reported.csv")
PCA = PCA[["State/Union Territory","2017"]]
PCA = PCA.rename(columns={"2017" : "Total Corruption Cases Registered in 2017"})
PCA = PCA.merge(Standard_State_Names, left_on='State/Union Territory', right_on='State', how='left')
PCA = PCA[["State","Total Corruption Cases Registered in 2017"]]
PCA = PCA.dropna()
PCA.count()

State                                        28
Total Corruption Cases Registered in 2017    28
dtype: int64

In [14]:
#6.Nominal GSDP Series : in ₹ Lakhs
GSDP = pd.read_csv(r"C:\Users\saura\Desktop\CSR\State Level Data\CSVs for Python\6.Nominal GSDP Series.csv")
GSDP = GSDP[["State/Union Territory","2017-18"]]
GSDP = GSDP.rename(columns={"2017-18":"GSDP - CURRENT PRICES (Amount in Rs. Crore) 2017-18"})
GSDP = GSDP.merge(Standard_State_Names, left_on='State/Union Territory', right_on='State', how='left')
GSDP = GSDP[["State","GSDP - CURRENT PRICES (Amount in Rs. Crore) 2017-18"]]
GSDP = GSDP.dropna()
GSDP.head(2)

,State,GSDP - CURRENT PRICES (Amount in Rs. Crore) 2017-18
0,Andaman and Nicobar Islands,789041
1,Andhra Pradesh,78613542

In [15]:
#7.State-wise Total Population :
Population = pd.read_csv(r"C:\Users\saura\Desktop\CSR\State Level Data\CSVs for Python\7.State-wise Total Population.csv")
Population = Population[["State/Union Territory","2011"]]
Population = Population.rename(columns={"2011":"State-wise Total Population (In Thousand, 2011 Census)"})
Population = Population.merge(Standard_State_Names, left_on='State/Union Territory', right_on='State', how='left')
Population = Population[["State","State-wise Total Population (In Thousand, 2011 Census)"]]
Population = Population.dropna()
Population.head(2)

,State,"State-wise Total Population (In Thousand, 2011 Census)"
0,Andaman and Nicobar Islands,381
1,Andhra Pradesh,84581

In [16]:
#Company Type:
Table_17_18["Company Type(CIN)1"] = Table_17_18["CIN"].str[12:15]

In [17]:
Table_17_18.loc[Table_17_18['Company Type(CIN)1'] == 'FLC', 'Company Type(CIN)'] = 'Financial Lease Company as Public Limited'
Table_17_18.loc[Table_17_18['Company Type(CIN)1'] == 'FTC', 'Company Type(CIN)'] = 'Subsidiary of a Foreign Company as Private Limited Company'
Table_17_18.loc[Table_17_18['Company Type(CIN)1'] == 'GAP', 'Company Type(CIN)'] = 'General Association Public'
Table_17_18.loc[Table_17_18['Company Type(CIN)1'] == 'GAT', 'Company Type(CIN)'] = 'General Association Private'
Table_17_18.loc[Table_17_18['Company Type(CIN)1'] == 'GOI', 'Company Type(CIN)'] = 'Companies owned by Govt'
Table_17_18.loc[Table_17_18['Company Type(CIN)1'] == 'NPL', 'Company Type(CIN)'] = 'Not For Profits License Company'
Table_17_18.loc[Table_17_18['Company Type(CIN)1'] == 'PLC', 'Company Type(CIN)'] = 'Public Limited Company'
Table_17_18.loc[Table_17_18['Company Type(CIN)1'] == 'PTC', 'Company Type(CIN)'] = 'Private Limited Company'
Table_17_18.loc[Table_17_18['Company Type(CIN)1'] == 'SCG', 'Company Type(CIN)'] = 'Companies owned by State Govt'
Table_17_18.loc[Table_17_18['Company Type(CIN)1'] == 'ULL', 'Company Type(CIN)'] = 'Public Limited Company with Unlimited Liability'
Table_17_18.loc[Table_17_18['Company Type(CIN)1'] == 'ULT', 'Company Type(CIN)'] = 'Private Limited Company with Unlimited Liability'

In [18]:
Table_17_18.drop('Company Type(CIN)1', axis=1, inplace=True)
Table_17_18.head(2)

,CIN,CNAME,Class,Company Type,Listing Status,RoC,State,Sub Category,Average Net Profit,CSR Prescribed Expenditure,...,financial_year_y,csr_project,development_Sector,state_name,district,project_amount_outlay,amount_spent,mode_of_implementation,feedback,Company Type(CIN)
0,L00000CH1983PLC031318,Sab Industries Limited,Public,Other than Govt. Companies,Listed,ROC�CHANDIGARH,Chandigarh,Company limited by Shares,0.00,0.09,...,2017-2018,NaN,NEC/ Not Mentioned,NEC/ Not mentioned,NEC/ Not mentioned,0.00,0.00,NaN,✏,Public Limited Company
1,L00000CH1990PLC010573,Lakshmi Energy And Foods Limited,Public,Other than Govt. Companies,Listed,ROC�CHANDIGARH,Chandigarh,Company limited by Shares,0.00,0.00,...,2017-2018,NaN,NEC/ Not Mentioned,NEC/ Not mentioned,NEC/ Not mentioned,0.00,0.00,NaN,✏,Public Limited Company

In [19]:
#Group Companies
Group_Comp = pd.read_excel(r"C:\Users\saura\Desktop\CSR\Data From National CSR Portal (Dec 2021)\Group Companies.xlsx")
Group_Comp.head()

                                 Name of the Company Group Company
0  Adani International Container Terminal Private...   Adani Group
1  Adani Township & Real Estate Company Private L...   Adani Group
2  Adani Infrastructure And Developers Private Li...   Adani Group
3      Adani Ports And Special Economic Zone Limited   Adani Group
4        Adani Petronet (Dahej) Port Private Limited   Adani Group

In [20]:
#------------------------------------------------------------------------------------------#
#Merging all additional tables one by one:
#------------------------------------------------------------------------------------------#

In [21]:
Table_17_18 = pd.merge(Table_17_18,Population,on="State",how='left')
Table_17_18 = pd.merge(Table_17_18,GSDP,on="State",how='left')
Table_17_18 = pd.merge(Table_17_18,SSE,on="State",how='left')
Table_17_18 = pd.merge(Table_17_18,HI,on="State",how='left')
Table_17_18 = pd.merge(Table_17_18,BPL,on="State",how='left')
Table_17_18 = pd.merge(Table_17_18,SCHO,on="State",how='left')
Table_17_18 = pd.merge(Table_17_18,Group_Comp,left_on="CNAME",right_on="Name of the Company",how='left')
Table_17_18 = pd.merge(Table_17_18,PCA,on="State",how='left')

In [22]:
Table_17_18.drop('Name of the Company', axis=1, inplace=True)
Table_17_18.drop('financial_year_y', axis=1, inplace=True)
Table_17_18 = Table_17_18.rename(columns = {"financial_year_x" : "Financial Year"})
Table_17_18 = Table_17_18.rename(columns = {"CNAME" : "Name of the Company"})
Table_17_18 = Table_17_18.rename(columns = {"State" : "State of Registration"})
Table_17_18 = Table_17_18.rename(columns = {"csr_project" : "CSR Project"})
Table_17_18 = Table_17_18.rename(columns = {"development_Sector" : "Development Sector"})
Table_17_18 = Table_17_18.rename(columns = {"state_name" : "State/Union Territory"})
Table_17_18 = Table_17_18.rename(columns = {"district" : "District"})
Table_17_18 = Table_17_18.rename(columns = {"project_amount_outlay" : "Project Amount Outlay"})
Table_17_18 = Table_17_18.rename(columns = {"amount_spent" : "Amount Spent"})
Table_17_18 = Table_17_18.rename(columns = {"mode_of_implementation" : "Mode of Implementation"})

In [23]:
Table_17_18.count()

CIN                                                             49333
Name of the Company                                             49160
Class                                                           49316
Company Type                                                    49316
Listing Status                                                  49316
RoC                                                             49165
State of Registration                                           49165
Sub Category                                                    49165
Average Net Profit                                              49333
CSR Prescribed Expenditure                                      49333
CSR Spent                                                       49333
Local Area Spent                                                49333
Financial Year                                                  49333
S.No                                                            49333
CSR Project                                                     38597
Development Sector                                              49333
State/Union Territory                                           49333
District                                                        49289
Project Amount Outlay                                           49333
Amount Spent                                                    49333
Mode of Implementation                                          40658
feedback                                                        49333
Company Type(CIN)                                               48591
State-wise Total Population (In Thousand, 2011 Census)          46224
GSDP - CURRENT PRICES (Amount in Rs. Crore) 2017-18             48447
Social Sector Expenditure (by the State Governments) 2017-18    40784
Health Centres 2017-18                                          48398
Number Below Poverty Line(in Lakhs) 2011-12                     46202
Total Number of Schools 2017-18                                 43700
Group Company                                                    1633
Total Corruption Cases Registered in 2017                       48398
dtype: int64

In [25]:
Table_17_18.to_excel(r"C:\Users\saura\Desktop\CSR\Data From National CSR Portal (Dec 2021)\Table_Loc_0_7_8 (Financial Year 2017-18).xlsx")