In [1]:
import pandas as pd
import numpy as np

In [2]:
#Import all data for Financial Year 2019-20

In [3]:
Table0_19_20 = pd.read_excel(r"C:\Users\saura\Desktop\CSR\Data From National CSR Portal (Dec 2021)\All Data\Table 0 (FY 2019-20)\Table0_2019_20_final.xlsx")
Table11_19_20 = pd.read_csv(r"C:\Users\saura\Desktop\CSR\Data From National CSR Portal (Dec 2021)\All Data\Table 11 (FY 2019-20)\Table11_2019_20_99999.csv")
Table12_19_20 = pd.read_csv(r"C:\Users\saura\Desktop\CSR\Data From National CSR Portal (Dec 2021)\All Data\Table 12 (FY 2019-20)\Table12_2019_20_99999.csv")

In [4]:
print("Count in Zeroth table:","\n", Table0_19_20.count(),
      "Count in Ninth table:","\n",Table11_19_20.count(),
      "Count in tenth table:","\n",Table12_19_20.count())

Count in Zeroth table:
 Unnamed: 0        22531
CIN               22531
CNAME             21734
Class             21777
Company Type      21777
Listing Status    21777
RoC               21741
State             21717
Sub Category      21741
dtype: int64 Count in Ninth table:
 Unnamed: 0                     22531
CIN                            22531
Average Net Profit             22531
CSR Prescribed Expenditure     22531
CSR Spent                      22531
Local Area Spent               22531
financial_year                 22531
dtype: int64 Count in tenth table:
 S.No                      59807
financial_year            59807
CIN                       59807
csr_project               50406
development_Sector        59807
state_name                59807
district                  59807
project_amount_outlay     59807
amount_spent              59807
mode_of_implementation    59807
feedback                  59807
dtype: int64

In [5]:
Table0_19_20 = Table0_19_20[["CIN","CNAME","Class","Company Type","Listing Status","RoC","State","Sub Category"]]
Table11_19_20 = Table11_19_20[['CIN', 'Average Net Profit ','CSR Prescribed Expenditure ', 'CSR Spent ', 
                       'Local Area Spent ','financial_year']]
Table12_19_20 = Table12_19_20[['S.No', 'financial_year', 'CIN', 'csr_project', 'development_Sector','state_name', 'district', 
                   'project_amount_outlay', 'amount_spent','mode_of_implementation', 'feedback']]

In [6]:
from functools import reduce
Table_19_20 = reduce(lambda x,y: pd.merge(x,y, on='CIN', how='outer'), [Table0_19_20, Table11_19_20, Table12_19_20])

In [7]:
#------------------------------------------------------------------------------------------#
#Import additional tables:
#------------------------------------------------------------------------------------------#

In [8]:
#Standardizing all state names:
Standard_State_Names = pd.read_excel(r"C:\Users\saura\Desktop\CSR\State Level Data\State name matching for all tables.xlsx")
Standard_State_Names.head(2)

,State,1.Social Sector,2.Health-Infrastructure,3.Tendulkar Poverty Estimates,4. Number of Schools by School,5. Prevention of Corruption Act,6.Nominal GSDP Series,7.State-wise Total Population
0,Andaman and Nicobar Islands,NaN,Andaman & Nicobar Islands,A & N Islands,Andaman & Nicobar Islands,A & N Islands,Andaman and Nicobar Islands,Andaman and Nicobar Islands
1,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh,Andhra Pradesh

In [9]:
#1.Social Sector Expenditure: Here values are in Crores
SSE = pd.read_csv(r"C:\Users\saura\Desktop\CSR\State Level Data\CSVs for Python\1.Social Sector Expenditure.csv")
SSE = SSE[["State/Union Territory","2019-20"]]
SSE = SSE.rename(columns={"2019-20": "Social Sector Expenditure (by the State Governments) 2019-20"})
SSE = SSE.merge(Standard_State_Names, left_on='State/Union Territory', right_on='State', how='left')
SSE = SSE[["State","Social Sector Expenditure (by the State Governments) 2019-20"]]
SSE = SSE.dropna()
SSE.head(2)

,State,Social Sector Expenditure (by the State Governments) 2019-20
0,Andhra Pradesh,80571
1,Arunachal Pradesh,6210

In [10]:
#2.Health-Infrastructure: As of latest data for FY 2018-19 is only available
HI = pd.read_csv(r"C:\Users\saura\Desktop\CSR\State Level Data\CSVs for Python\2.Health-Infrastructure.csv")
HI = HI[["State/Union Territory","Total (2018-19)"]]
HI = HI.rename(columns={"Total (2018-19)" : "Health Centres 2018-19"})
HI = HI.merge(Standard_State_Names, left_on='State/Union Territory', right_on='State', how='left')
HI = HI[["State","Health Centres 2018-19"]]
HI = HI.dropna()
HI.head(2)

               State  Health Centres 2018-19
0     Andhra Pradesh                    9162
1  Arunachal Pradesh                     595

In [11]:
#3.Tendulkar Poverty Estimates (Combined) : Number Below Poverty Line (Lakhs)
BPL = pd.read_csv(r"C:\Users\saura\Desktop\CSR\State Level Data\CSVs for Python\3.Tendulkar Poverty Estimates (Combined).csv")
BPL = BPL[["State/Union Territory","2011-12"]]
BPL = BPL.rename(columns = {"2011-12" : "Number Below Poverty Line(in Lakhs) 2011-12"})
BPL = BPL.merge(Standard_State_Names, left_on='State/Union Territory', right_on='State', how='left')
BPL = BPL[["State","Number Below Poverty Line(in Lakhs) 2011-12"]]
BPL = BPL.dropna()
BPL.head(2)

               State  Number Below Poverty Line(in Lakhs) 2011-12
0     Andhra Pradesh                                         78.8
1  Arunachal Pradesh                                          4.9

In [12]:
#4. Number of Schools by School Management and School Category :
SCHO = pd.read_csv(r"C:\Users\saura\Desktop\CSR\State Level Data\CSVs for Python\4. Number of Schools by School Management and School Category.csv")
SCHO = SCHO[["State/Union Territory","2019-20"]]
SCHO = SCHO.rename(columns={"2019-20":"Total Number of Schools 2019-20"})
SCHO = SCHO.merge(Standard_State_Names, left_on='State/Union Territory', right_on='State', how='left')
SCHO = SCHO[["State","Total Number of Schools 2019-20"]]
SCHO = SCHO.dropna()
SCHO.head(2)

               State  Total Number of Schools 2019-20
1     Andhra Pradesh                            63824
2  Arunachal Pradesh                             3666

In [13]:
#5. Prevention of Corruption Act & Related Sections of IPC Cases Reported
PCA = pd.read_csv(r"C:\Users\saura\Desktop\CSR\State Level Data\CSVs for Python\5. Prevention of Corruption Act & Related Sections of IPC Cases Reported.csv")
PCA = PCA[["State/Union Territory","2019"]]
PCA = PCA.rename(columns={"2019" : "Total Corruption Cases Registered in 2019"})
PCA = PCA.merge(Standard_State_Names, left_on='State/Union Territory', right_on='State', how='left')
PCA = PCA[["State","Total Corruption Cases Registered in 2019"]]
PCA = PCA.dropna()
PCA.count()

State                                        28
Total Corruption Cases Registered in 2019    28
dtype: int64

In [14]:
#6.Nominal GSDP Series : in ₹ Lakhs
GSDP = pd.read_csv(r"C:\Users\saura\Desktop\CSR\State Level Data\CSVs for Python\6.Nominal GSDP Series.csv")
GSDP = GSDP[["State/Union Territory","2019-20"]]
GSDP = GSDP.rename(columns={"2019-20":"GSDP - CURRENT PRICES (Amount in Rs. Crore) 2019-20"})
GSDP = GSDP.merge(Standard_State_Names, left_on='State/Union Territory', right_on='State', how='left')
GSDP = GSDP[["State","GSDP - CURRENT PRICES (Amount in Rs. Crore) 2019-20"]]
GSDP = GSDP.dropna()
GSDP.head(2)

,State,GSDP - CURRENT PRICES (Amount in Rs. Crore) 2019-20
0,Andaman and Nicobar Islands,971923
1,Andhra Pradesh,97122422

In [15]:
#7.State-wise Total Population :
Population = pd.read_csv(r"C:\Users\saura\Desktop\CSR\State Level Data\CSVs for Python\7.State-wise Total Population.csv")
Population = Population[["State/Union Territory","2011"]]
Population = Population.rename(columns={"2011":"State-wise Total Population (In Thousand, 2011 Census)"})
Population = Population.merge(Standard_State_Names, left_on='State/Union Territory', right_on='State', how='left')
Population = Population[["State","State-wise Total Population (In Thousand, 2011 Census)"]]
Population = Population.dropna()
Population.head(2)

,State,"State-wise Total Population (In Thousand, 2011 Census)"
0,Andaman and Nicobar Islands,381
1,Andhra Pradesh,84581

In [17]:
#Company Type:
Table_19_20["Company Type(CIN)1"] = Table_19_20["CIN"].str[12:15]

In [18]:
Table_19_20.loc[Table_19_20['Company Type(CIN)1'] == 'FLC', 'Company Type(CIN)'] = 'Financial Lease Company as Public Limited'
Table_19_20.loc[Table_19_20['Company Type(CIN)1'] == 'FTC', 'Company Type(CIN)'] = 'Subsidiary of a Foreign Company as Private Limited Company'
Table_19_20.loc[Table_19_20['Company Type(CIN)1'] == 'GAP', 'Company Type(CIN)'] = 'General Association Public'
Table_19_20.loc[Table_19_20['Company Type(CIN)1'] == 'GAT', 'Company Type(CIN)'] = 'General Association Private'
Table_19_20.loc[Table_19_20['Company Type(CIN)1'] == 'GOI', 'Company Type(CIN)'] = 'Companies owned by Govt'
Table_19_20.loc[Table_19_20['Company Type(CIN)1'] == 'NPL', 'Company Type(CIN)'] = 'Not For Profits License Company'
Table_19_20.loc[Table_19_20['Company Type(CIN)1'] == 'PLC', 'Company Type(CIN)'] = 'Public Limited Company'
Table_19_20.loc[Table_19_20['Company Type(CIN)1'] == 'PTC', 'Company Type(CIN)'] = 'Private Limited Company'
Table_19_20.loc[Table_19_20['Company Type(CIN)1'] == 'SCG', 'Company Type(CIN)'] = 'Companies owned by State Govt'
Table_19_20.loc[Table_19_20['Company Type(CIN)1'] == 'ULL', 'Company Type(CIN)'] = 'Public Limited Company with Unlimited Liability'
Table_19_20.loc[Table_19_20['Company Type(CIN)1'] == 'ULT', 'Company Type(CIN)'] = 'Private Limited Company with Unlimited Liability'

In [19]:
Table_19_20.drop('Company Type(CIN)1', axis=1, inplace=True)
Table_19_20.head(2)

,CIN,CNAME,Class,Company Type,Listing Status,RoC,State,Sub Category,Average Net Profit,CSR Prescribed Expenditure,...,financial_year_y,csr_project,development_Sector,state_name,district,project_amount_outlay,amount_spent,mode_of_implementation,feedback,Company Type(CIN)
0,L00000CH1983PLC031318,Sab Industries Limited,Public,Other than Govt. Companies,Listed,ROC-CHANDIGARH,Chandigarh,Company limited by Shares,0.00,0.0,...,2019-2020,NaN,NEC/ Not Mentioned,NEC/ Not Mentioned,NEC/ Not mentioned,0,0,NEC/ Not Mentioned,✏,Public Limited Company
1,L00000CH1990PLC010573,Lakshmi Energy And Foods Limited,Public,Other than Govt. Companies,Listed,ROC-CHANDIGARH,Chandigarh,Company limited by Shares,0.00,0.0,...,2019-2020,NaN,NEC/ Not Mentioned,NEC/ Not Mentioned,NEC/ Not mentioned,0,0,NEC/ Not Mentioned,✏,Public Limited Company

In [20]:
#Group Companies
Group_Comp = pd.read_excel(r"C:\Users\saura\Desktop\CSR\Data From National CSR Portal (Dec 2021)\Group Companies.xlsx")
Group_Comp.head()

                                 Name of the Company Group Company
0  Adani International Container Terminal Private...   Adani Group
1  Adani Township & Real Estate Company Private L...   Adani Group
2  Adani Infrastructure And Developers Private Li...   Adani Group
3      Adani Ports And Special Economic Zone Limited   Adani Group
4        Adani Petronet (Dahej) Port Private Limited   Adani Group

In [21]:
#------------------------------------------------------------------------------------------#
#Merging all additional tables one by one:
#------------------------------------------------------------------------------------------#

In [22]:
Table_19_20 = pd.merge(Table_19_20,Population,on="State",how='left')
Table_19_20 = pd.merge(Table_19_20,GSDP,on="State",how='left')
Table_19_20 = pd.merge(Table_19_20,SSE,on="State",how='left')
Table_19_20 = pd.merge(Table_19_20,HI,on="State",how='left')
Table_19_20 = pd.merge(Table_19_20,BPL,on="State",how='left')
Table_19_20 = pd.merge(Table_19_20,SCHO,on="State",how='left')
Table_19_20 = pd.merge(Table_19_20,Group_Comp,left_on="CNAME",right_on="Name of the Company",how='left')
Table_19_20 = pd.merge(Table_19_20,PCA,on="State",how='left')

In [23]:
Table_19_20.drop('Name of the Company', axis=1, inplace=True)
Table_19_20.drop('financial_year_y', axis=1, inplace=True)
Table_19_20 = Table_19_20.rename(columns = {"financial_year_x" : "Financial Year"})
Table_19_20 = Table_19_20.rename(columns = {"CNAME" : "Name of the Company"})
Table_19_20 = Table_19_20.rename(columns = {"State" : "State of Registration"})
Table_19_20 = Table_19_20.rename(columns = {"csr_project" : "CSR Project"})
Table_19_20 = Table_19_20.rename(columns = {"development_Sector" : "Development Sector"})
Table_19_20 = Table_19_20.rename(columns = {"state_name" : "State/Union Territory"})
Table_19_20 = Table_19_20.rename(columns = {"district" : "District"})
Table_19_20 = Table_19_20.rename(columns = {"project_amount_outlay" : "Project Amount Outlay"})
Table_19_20 = Table_19_20.rename(columns = {"amount_spent" : "Amount Spent"})
Table_19_20 = Table_19_20.rename(columns = {"mode_of_implementation" : "Mode of Implementation"})

In [25]:
Table_19_20.count()

CIN                                                             59825
Name of the Company                                             58775
Class                                                           58870
Company Type                                                    58870
Listing Status                                                  58870
RoC                                                             58814
State of Registration                                           58788
Sub Category                                                    58814
Average Net Profit                                              59825
CSR Prescribed Expenditure                                      59825
CSR Spent                                                       59825
Local Area Spent                                                59825
Financial Year                                                  59825
S.No                                                            59825
CSR Project                                                     50424
Development Sector                                              59825
State/Union Territory                                           59825
District                                                        59825
Project Amount Outlay                                           59825
Amount Spent                                                    59825
Mode of Implementation                                          59825
feedback                                                        59825
Company Type(CIN)                                               59238
State-wise Total Population (In Thousand, 2011 Census)          55213
GSDP - CURRENT PRICES (Amount in Rs. Crore) 2019-20             57933
Social Sector Expenditure (by the State Governments) 2019-20    49389
Health Centres 2018-19                                          57887
Number Below Poverty Line(in Lakhs) 2011-12                     55154
Total Number of Schools 2019-20                                 51909
Group Company                                                    1879
Total Corruption Cases Registered in 2019                       57887
dtype: int64

In [26]:
Table_19_20.to_excel(r"C:\Users\saura\Desktop\CSR\Data From National CSR Portal (Dec 2021)\Table_Loc_0_11_12 (Financial Year 2019-20).xlsx")