In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
from urllib.request import urlopen

In [2]:
#Extract data as a table with pandas
#separate = pd.read_html('https://www.csr.gov.in/companylist.php?csr_spent_range=&state=&district=&mact=&year=FY%202019-20&compCat=&listing=Listed')
#new = pd.concat([separate[0]])
#new.head()

In [3]:
html = urlopen("https://www.csr.gov.in/companylist.php?csr_spent_range=&state=&district=&mact=&year=FY%202019-20&compCat=&listing=Listed")
soup = BeautifulSoup(html.read(),'lxml')
links = []
for link in soup.find_all('a'):
    links.append(link.get('href'))

In [4]:
links = links[61:] #removing extra list element
new_links = [x[-21:] for x in links] #extraction of las 21 characters for CIN
new_links = new_links[:2808] #keep only the CINs for 2808 companies

#Creating a DataFrame for listed companies
df1=pd.DataFrame({"CIN":new_links})
df1.count()

CIN    2808
dtype: int64

In [5]:
df1.tail()

                        CIN
2803  L25209DL1971PLC005535
2804  L67120WB1993PLC061111
2805  L63040MH1939PLC011352
2806  L24231TN1988PLC015882
2807  L45203MH1996PLC281138

In [6]:
html = urlopen("https://www.csr.gov.in/companylist.php?csr_spent_range=&state=&district=&mact=&year=FY%202019-20&compCat=&listing=Unlisted")
soup = BeautifulSoup(html.read(),'lxml')
links = []
for link in soup.find_all('a'):
    links.append(link.get('href'))

In [7]:
links = links[61:] #removing extra list element
new_links = [x[-21:] for x in links] #extraction of las 21 characters for CIN
new_links = new_links[:19723] #keep only the CINs for 2808 companies

#Creating a DataFrame for Un-listed companies
df2=pd.DataFrame({"CIN":new_links})
df2.count()

CIN    19723
dtype: int64

In [8]:
#Append Listed and Un-listed CIN
df = df1.append(df2,ignore_index = True)
df.count()

CIN    22531
dtype: int64

In [9]:
print(df.head(2),"\n",df.tail(2))

                     CIN
0  L17110MH1973PLC019786
1  L22210MH1995PLC084781
                          CIN
22529  U01132WB2009PTC131897
22530  U70102TG2005PTC046067

In [10]:
df.to_excel(r"C:\Users\saura\Desktop\CSR\Data From National CSR Portal (Dec 2021)\CSR - Company CIN.xlsx",sheet_name = "Financial Year 2019-2020")

In [11]:
#Check for the duplicate CIN(s)
arr = df.CIN.unique()
np.count_nonzero(arr)

22531